/**reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****/
.top {
    background: #333;
    width: 100vw;
    height: 500px;
    color: #fff;
    margin-bottom: 25px;
}

.top-title {
    font-family: "Franklin Gothic Heavy";
    margin: 0 auto 25px;
    padding: 200px 0 0 0;
    font-size: 70px;
    width: 300px;
    height: 70px;
}

.top-text {
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.main-wrap {
    width: 1020px;
    margin: auto;
}

.contact-wrap {
    width: 650px;
    margin: auto;
    background: #555;
    color: #fff;
    padding: 25px 30px;
    font-weight: bold;
}

label {
    margin-right: 10px;
    width:170px;
    height: 16px;
    float: left;
}

.contact-text {
    height: 395px;
}

li,.contact{
    margin-bottom: 25px;
}

.contact-submitButton {
    width: 60px;
    height: 40px;
}

.contact-submitButton{
     display: block;
    margin: 0 auto;
}