/**reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****/

.top {
    background: #333;
    width: 100vw;
    height: 500px;
    color: #fff;
    margin-bottom: 25px;
}

.top-title {
    font-family: "Franklin Gothic Heavy";
    margin: 0 auto 25px;
    padding: 200px 0 0 0;
    font-size: 70px;
    width: 670px;
    height: 70px;
}

.top-text {
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
}

.team-title {
    width: 100vw;
    height: 160px;
    font-size: 35px;
    font-weight: bold;
    background: #444;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin-bottom: 25px;
}

.team-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 1080px;
    height: 1200px;
    margin: auto;
    content: stretch;
}

.contents {
    width: 33%;
    height: 400px;
    margin-bottom: 25px;
}

.logo {
    width: 250px;
    height: 250px;
    margin: 0 auto 25px;
}

.title {
    font-size: 30px;
    font-family: "Franklin Gothic Heavy";
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.text {
    text-align: left;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    height: 180px;
}

.teamLink {
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    background: #333;
}

.team-link {
    display: block;
}


.team-link:link {
    color: #fff;
}

.team-link:visited {
    color: #fff;
}

.team-link:hover {
    color: red;
}

.team-link:active {
    color: #000;
}


.team-logoA {
    background: url(../img/logos/DetonatioN_Gaminglogo_square.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-logoB {
    background: url(../img/logos/akihabaraencount.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-logoC {
    background: url(../img/logos/DeToNato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-logoD {
    background: url(../img/logos/norarengou_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoA {
    background: url(../img/logos/450px-Mindfreaklogo_square.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoB {
    background: url(../img/logos/TeamEnVyUs.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoC {
    background: url(../img/logos/Cloud%EF%BC%99.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoD {
    background: url(../img/logos/eunited.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoE {
    background: url(../img/logos/EvilGeniuses.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.worldTeam-logoF {
    background: url(../img/logos/optic.png);
    background-size: cover;
    background-repeat: no-repeat;
}